<header>
    <nav>
        <div class="left">
            <div class="navlogo">
                <img src="https://freepnglogo.com/images/all_img/1715487998amazon-logo-transparent.png" alt="">
            </div>
            <div class="nav_searchbaar">
                <input type="text" placeholder="Search Amazon">
                <button class="search_icon">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>  
        <div class="right">
            <div class="nav_btn">
                <a routerLink="">sign in</a>
            </div>
            <div class="cart_btn">
                <mat-icon id="icon" matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
            </div>
            <div class="avatar">
                <mat-icon>account_circle</mat-icon>
            </div>
        </div>          
    </nav>
</header>